<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>@shankardevy - <%= current_page.data.title || "Elixir, Ruby Programmer and Trainer" %></title>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-md-2">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
